@import url(./blocks/global.css);
@import url(./blocks/fonts.css);
@import url(./blocks/header.css);
@import url(./blocks/logo.css);
@import url(./blocks/navigation.css);
@import url(./blocks/contacts.css);
@import url(./blocks/promo.css);
@import url(./blocks/buttons.css);
@import url(./blocks/breadcrumbs.css);
@import url(./blocks/proposals.css);
@import url(./blocks/pagination.css);
@import url(./blocks/partners.css);
@import url(./blocks/footer.css);

.header__container {
    background: url(../images/top-line.png) top center no-repeat;
    background-size: cover;
    height: 416px;
}

.wrapper  {
    height: 100%;
}

.header__wrapper {
    margin-top: 23px;
    margin-left: 37px;
    margin-bottom: 119px;
}

.promo__wrapper {
    margin-bottom: 84px;
}

.proposals__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 57px;
    margin-top: 122px;
}

.proposals__item {
    margin-bottom: 94px;
}

.proposals__item:last-child {
    margin-bottom: 0px;
}

.partners {
    margin-bottom: 120px;
}

.footer__wrapper {
    margin-top: 23px;
    margin-left: 37px;
    margin-bottom: 40px;
}