@import url(./blocks/global.css);
@import url(./blocks/fonts.css);
@import url(./blocks/header.css);
@import url(./blocks/logo.css);
@import url(./blocks/navigation.css);
@import url(./blocks/contacts.css);
@import url(./blocks/promo.css);
@import url(./blocks/buttons.css);
@import url(./blocks/products.css);
@import url(./blocks/news.css);
@import url(./blocks/pagination.css);
@import url(./blocks/about.css);
@import url(./blocks/footer.css);

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #17191C;
}

.wrapper  {
    background: url("../images/hero.png") center top no-repeat, url("../images/bottom-pic.png") bottom center no-repeat;
}

.header__wrapper {
    margin-top: 23px;
    margin-left: 37px;
    margin-bottom: 58px;
}

.promo__wrapper {
    margin: 89px 0px 233px 0px;
}

.products {
    margin: 0px 0px 180px;
}

.products__list {
    display: flex;
    justify-content: space-between;
}

.products__item {
    width: calc(100% / 3 - 18px);
}

.news {
    margin-bottom: 150px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.news__item {
    flex: 1;
    margin-right: 2%;
    position: relative;
    max-width: calc(100% / 2 - 25px);
}

.pagination__wrapper {
    
}