.partners__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.partners__item {
    flex: 1;
    align-self: center;
    padding-right: 100px;
    padding-bottom: 20px;
}