.partners__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
    margin-bottom: 82px;
}

.partners__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.partners__item {
    flex: 1;
    padding-right: 100px;
    padding-bottom: 70px;
}