.proposal {
    display: flex;
}

.proposal__img {
    flex: 1;
}

.proposal__text {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 56px;
}

.proposal__title {
    margin: 0px 0px 25px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}

.proposal__desc {
    margin: 0px 0px 40px 0px;
    line-height: 1.67;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #303030;
}
